VITE_GEMINI_API_KEY=your_gemini_api_key_here
VITE_SUPABASE_URL=https://ymakeswutfyqigsnqvov.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InltYWtlc3d1dGZ5cWlnc25xdm92Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwOTgyMTIsImV4cCI6MjA5NTY3NDIxMn0.LXRnx-PkODciQe3PCU1JeNiW7HWrAQf1orZtcErmG5o
VITE_ADMIN_PASSWORD=your_admin_password_here
